[flake8]
max-line-length = 200
extend-ignore = E203, W503, E711
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .eggs,
    *.egg,
    build,
    dist,
    instance,
    cdisc-bc-ncit-alignment
per-file-ignores =
    __init__.py:F401
